/*企业图片预览样式*/
.ul-img li {
        float: left;
        text-align: center;
        padding: 10px;
        /*width: 200px;*/
    }

    .ul-img {
        overflow: auto ;
        list-style: none;
    }
    .ul-img > li >a{
        float: left;
        width: 98%;
    }
    .ul-img > li >a> img {
        width: 109px;
        height: 109px;
    }
/*企业图片添加样式*/
.add-img{
    width: 47%;box-sizing:
    border-box;margin-left: 3%;
    margin-bottom: 10px;
    float: left
}
.ulImgs>li>label{
    width: 50%;
    text-align: center;
}